.logo-img{
    width:35px;
    height: 35px;
    border-radius: 50px
}
.logo-img > img{
    width: 25px;
    height: 25px
}
.logo-text{
    color: #fff;
    margin-left: 15px
}
.smeun-item{
    width: 120px;
}
.icoBtn{
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px
}
.icoBtn > .cri{
    width: 50px;
    height: 50px;
    border-radius:5px;
    color: #fff
}
.login-panel{
    width:400px;
    background:#fff;
    padding:15px 20px;
    margin:auto;
    margin-top:20px;
    box-shadow:2px 2px 2px #e1e1e1;
    border-radius:3px
}
.showDa{
    padding: 15px 25px;
    background:#f3f3f3
}
.crig{
    width:60px;
    height: 60px;
    border-radius: 60px
}
.ult-wiss{
    width: 100%;
    height: 40px;
    background: #f3f3f3;
    padding: 0 15px;
    margin-top: 20px;
}
.backpanel{
    width: 100%;
    background: #f3f3f3;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    flex-direction: row
}
.sizeshow{
    padding:0 5px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 0 0 0 10px;
}
.ell{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.dispanel{
    width: 100%;
    padding: 7px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.bitems{
    width: 33.33%;
    cursor: pointer;
    text-align: center;

}
.bitems:hover{
    background: rgba(0, 0, 0, 0.7)
}
.folder{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.shopImgar{
    width: 250px;
    height: 180px;
    background: #f3f3f3;
    cursor: pointer;
}
.shopImgar:hover{
    border: 1px solid #0099ff
}